PORT=5001
MONGO_URI=your mongodb string
JWT_SECRET=your_jwt_secret
CLIENT_URL=http://localhost:5173

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your_email_username
EMAIL_PASS=your_email_password
EMAIL_FROM=no-reply@example.com